.footer {
    height: auto;
    font-weight: bold;
    background-color: #242424;
    color: white;
    bottom: 0;
    flex-shrink: 2;
    padding: 2rem 3rem;
    border-top: 5px solid #b574ff;
    position: relative;
    bottom: 0;
}

.footer .top {
    display: flex;
}

.footer p,
.footer a,
footer h2 {
    margin-bottom: -10px;
}

.footer a img {
    width: 52px;
    height: 40px;
    margin-left: -5px;
    flex-shrink: 2;

}

.item {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-bottom: 15px;
    width: 33%;
}

.item p {
    padding: .5rem 0;
}

.item a {
    text-decoration: none;
    position: relative;
    display: inline-block;
    width: 125px;
    color: white;
    margin-top: 16px;
}

.item .social-link-box a {
    width: auto;
    padding-right: 10px;
}

.item a:hover {
    text-decoration: underline 2px solid #b574ff;
}

.bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 15px;
}

.footer .bottom img {
    width: 63px;
    height: 50px;
}

@media screen and (max-width: 600px) {
    .footer .top {
        float: none;
        display: block;
        text-align: left;
    }

    .footer .bottom {
        padding-bottom: 15px;
    }

    .footer .logo {
        display: none;
    }

    .item .social-link-box {
        display: flex;
        flex-direction: column;
    }
}